<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Meta viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">

    <!-- Custom CSS Link -->
    <link rel="stylesheet" href="/css/index.css">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script> -->

    <!-- Custom CSS Link -->
    <link rel="stylesheet" href="/css/index.css">

    <title>Planny</title>
  </head>
  <body>
    <div class="d-flex align-items-center justify-content-center default_header">
      <h1>Planny</h1>
    </div>

    <div class="d-flex p-2 align-items-center justify-content-center flex-column default_body">
      <h2>Easy to use, easy to manage...</h2>

      <!-- Line Break -->
      <br><br>

      <div class="d-flex">
        <!-- Customize icon and words -->
        <div class="d-flex p-2 align-items-center justify-content-center flex-column">
          <img src="/img/customize.png" alt="">
          <h3>Customize it</h3>
        </div>

        <!-- Arrow -->
        <div class="d-flex p-2 align-items-center justify-content-center">
          <img src="/img/arrow.png" alt="">
        </div>

        <!-- Manage icon and words -->
        <div class="d-flex p-2 align-items-center justify-content-center flex-column">
          <img src="/img/manage.png" alt="">
          <h3>Manage it</h3>
        </div>

        <!-- Arrow -->
        <div class="d-flex p-2 align-items-center justify-content-center">
          <img src="/img/arrow.png" alt="">
        </div>

        <!-- Share icon and words -->
        <div class="d-flex p-2 align-items-center justify-content-center flex-column">
          <img src="/img/share.png" alt="">
          <h3>Share it</h3>
        </div>
      </div>
    </div>

    <!-- Register and login buttons -->
    <div class="d-flex align-items-start justify-content-around button_body">
      <button id="login_bt" class="btn" type="button" name="login" onclick="window.location.href='../users/login'">Login</button>
      <button id="register_bt" class="btn" type="button" name="sign up" onclick="window.location.href='../users/register'">Sign Up</button>
    </div>
  </body>
</html>
