/**
 * ===========================================
 * General HTML Tags
 * ===========================================
 */

img {
  height: 32px;
  width: 32px;
}

h1 {
  margin: 0;
}

h3 {
  margin-top: 15px;
  font-size: 1rem;
}

/**
 * ===========================================
 * Classes for home.handlebars - default page
 * ===========================================
 */

.default_header {
  background-color: #222222;
  color: white;
  height: 7vh;
}

.default_body {
  height: 60vh;
}

.button_body {
  height: 33vh;
}

.default_header>h1 {
  font-size: 2rem;
}

.default_body>h2 {
  font-size: 1.3rem;
}

.btn {
  font-size: 1rem;
}

.card {
  height: 450px;
  width: 250px;
}

/**
 * ===========================================
 * Classes for register.handlebars - user page
 * ===========================================
 */

.register_form {
  height: 90vh;
}

/**
  * ===========================================
  * Classes for login.handlebars - user page
  * ===========================================
  */

.login_form {
  height: 90vh;
}

/**
  * ===========================================
  * Classes for homepage.handlebars - itinerary page
  * ===========================================
  */

#logout_bt {
  height: 30px;
  padding: 0;
  width: 80px;
}

#new_plan_bt {
  padding-left: 25px;
  padding-right: 25px;
}

.homepage_welcome_message {
  height: 10vh;
}

.homepage_welcome_message>h1 {
  font-size: 1.5rem;
}

.homepage_body {
  height: 83vh;
}

.vl {
  margin-left: 10px;
  margin-right: 10px;
  border-left: 3px solid black;
  height: 400px;
}

.modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}

.modal-notify .modal-content {
  border-radius: 3px;
}

/**
  * ===========================================
  * Classes for destination.handlebars - itinerary page
  * ===========================================
  */

#day_card {
  height: 250px;
  width: 250px;
  margin-right: 20px;
}

/**
  * ===========================================
  * Classes for day.handlebars - itinerary page
  * ===========================================
  */

#activity_card {
  height: 200px;
  width: 800px;
  margin-bottom: 40px;
}

#add_bt{
  margin-left: 300px;
}

.card{
  flex-direction: row;
}

/**
  * ===========================================
  * Classes for edit_activity.handlebars - itinerary page
  * ===========================================
  */

#edit_activity_card{
  height: 800px;
  width: 750px;
}

#edit_activity_form{
  width: 600px;
}

/**
 * ===========================================
 * Media Queries
 * ===========================================
 */

/* Small devices (landscape phones, 576px and up */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up */

@media (min-width: 768px) {
  img {
    height: 80px;
    width: 80px;
  }
  h3 {
    font-size: 2rem;
  }
  input[type="text"] {
    font-size: 1.5rem;
  }
  input[type="email"] {
    font-size: 1.5rem;
  }
  input[type="password"] {
    font-size: 1.5rem;
  }
  .default_header>h1 {
    font-size: 2.5rem;
  }
  .default_body>h2 {
    font-size: 3rem;
  }
  .btn {
    font-size: 1.5rem;
  }
  .h4 {
    font-size: 2rem;
  }
  .card {
    height: 500px;
    width: 500px;
  }
  #login_bt {
    margin-left: 100px;
  }
  #register_bt {
    margin-right: 100px;
  }
}

/* Large devices (desktops, 992px and up */

@media (min-width: 992px) {
  img {
    height: 150px;
    width: 150px;
  }
  h3 {
    font-size: 2.5rem;
  }
  input[type="text"] {
    font-size: 2rem;
  }
  input[type="email"] {
    font-size: 2rem;
  }
  input[type="password"] {
    font-size: 2rem;
  }
  .default_header>h1 {
    font-size: 4rem;
  }
  .homepage_welcome_message>h1 {
    font-size: 3.5rem;
  }
  .default_body>h2 {
    font-size: 3.5rem;
  }
  .btn {
    font-size: 2.5rem;
  }
  .h4 {
    font-size: 2.5rem;
  }
  .h5 {
    font-size: 1.5rem;
  }
  .card {
    height: 600px;
    width: 600px;
  }
  #login_bt {
    margin-left: 100px;
  }
  #register_bt {
    margin-right: 100px;
  }
}

/* Extra large devices (large desktops, 1200px and up */

@media (min-width: 1200px) {
  img {
    height: 120px;
    width: 120px;
  }
  h3 {
    font-size: 1.5rem;
  }
  input[type="text"] {
    font-size: 1.5rem;
  }
  input[type="email"] {
    font-size: 1.5rem;
  }
  input[type="password"] {
    font-size: 1.5rem;
  }
  .default_header>h1 {
    font-size: 3rem;
  }
  .default_body>h2 {
    font-size: 3.5rem;
  }
  .btn {
    font-size: 2.5rem;
  }
  .h4 {
    font-size: 2.5rem;
  }
  .h5 {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 1.5rem;
  }
  .card {
    height: 550px;
    width: 500px;
  }
  #login_bt {
    margin-left: 600px;
  }
  #register_bt {
    margin-right: 600px;
  }
  #logout_bt {
    padding: 0;
    height: 60px;
    width: 150px;
  }
  #new_plan_bt {
    padding-left: 25px;
    padding-right: 25px;
  }
  .homepage_welcome_message>h1 {
    font-size: 3rem;
  }
  .vl {
    margin-left: 50px;
    margin-right: 50px;
    border-left: 3px solid black;
    height: 500px;
  }
}
